.accordion-section {
    width: 60%;
}

.accordion-item {
    display: flex;
    flex-direction: column;
}

.accordion-title {
    display: flex;
    flex-direction: row;
    padding: 10px 5px;
    background-color: #1b17a3;
    cursor: pointer;
}

.accordion-title:hover,.active {
    background-color: #374794;
    transition: background-color ease-in 0.3s;
}

.accordion-title .title {
    flex-grow: 2;
    color: white;
}

.accordion-title .icon {
    font-weight: 600;
    color: white;
}

.accordion-content {
    overflow: hidden;
    background-color: azure;
    transition: all ease-in 0.3s;
}

.accordion-content.active {
    padding: 10px 5px;
}